body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #de0a0a;
    color: #0401a3;
    padding: 20px;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    color: #d40000;
}

.flex-column {
    display: flex;
    flex-direction: column;
    color: #030202;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
    color: #c80d0d;
}

.flex-aling-center {
    display: flex;
    align-items: center;
    color: #8A2BE2;
}

.flex-item {
    width: 100px;
    height: 100px;
    background-color: rgb(189, 225, 4);
    margin: 10px;
}